workflows/DEmo/IpdauorBzR63KHfu.json
{
  "active": false,
  "connections": {
    "Fal Flux": {
      "main": [
        [
          {
            "node": "Wait 3 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed?": {
      "main": [
        [
          {
            "node": "Get Image Result URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Sec": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fal Flux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Result URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-20T16:29:19.880Z",
  "id": "IpdauorBzR63KHfu",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 22",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/image-editing/background-change \\",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.Prompt }}\",\n  \"image_size\": {\n  \"width\": {{ $json.Width }},\n  \"height\": {{ $json.Height }}\n},\n  \"num_inference_steps\": {{ $json.Steps }},\n  \"guidance_scale\": {{ $json.Guidance }},\n  \"num_images\": 1,\n  \"enable_safety_checker\": true\n}",
        "options": {}
      },
      "id": "0f0d4e42-655f-4291-b8db-13ba8f93e22e",
      "name": "Fal Flux",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        32,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1yZVQ2WgNralewzH",
          "name": "Fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/image-editing/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "993fbe95-1edc-4e1d-97cb-27d040d98f24",
      "name": "Get Image Result URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        192
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1yZVQ2WgNralewzH",
          "name": "Fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "id": "757ef799-a700-4ba5-ac0c-7eaaba3b3a7f",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1008,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1R3PSyHXWHlY9DRFdOUEAPEop2fZy-_-K",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1R3PSyHXWHlY9DRFdOUEAPEop2fZy-_-K",
          "cachedResultName": "Flux Image"
        },
        "options": {}
      },
      "id": "2a554980-4356-49b3-861c-759d39d350cc",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1184,
        192
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "65f08e25-3e73-4f25-ac4a-c96dd3a8206c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -464,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set Parameter Here \nset Image Prompt and related settings",
        "height": 120,
        "width": 260
      },
      "id": "ffb0773b-44b0-43a0-9d52-7f0ef045d41f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "df91989c-3fda-4165-8a79-cbc0c99ecd37",
      "name": "Wait 3 Sec",
      "type": "n8n-nodes-base.wait",
      "position": [
        240,
        208
      ],
      "webhookId": "61a8626c-e281-4d4b-abb0-b9d87d1b4e7c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/image-editing/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "25e0909c-0753-4b08-851a-356d019d191a",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1yZVQ2WgNralewzH",
          "name": "Fal.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "299a7c34-dcff-4991-a73f-5b1a84f188ea",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "b214842c-e564-46d6-977e-b6e30db659b1",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        624,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Set Drive Folder Here ",
        "height": 100,
        "width": 220
      },
      "id": "c9c75dc8-2bb4-482c-b652-48c2cf05e673",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Generic Credential Type\n### Header : Authorization\nKey $FAL_KEY\"\n\nfor example:\nKey 6f2960baxxxxxxxxx",
        "height": 180,
        "width": 260
      },
      "id": "d6eed50c-297a-458e-8a87-53f431cdc028",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0a033cf-fa2b-4930-93b9-ff9c45fa7c14",
              "name": "Prompt",
              "type": "string",
              "value": "You are an expert AI image generation prompt engineer specializing in commercial product photography. Transform the given product description into a hyper-realistic, professional studio photograph prompt. Core Photography Standards: Three-point studio lighting setup with key light, fill light, and rim light. Soft diffused lighting to eliminate harsh shadows while maintaining product definition. Rule of thirds placement, negative space utilization, perfect product positioning. Shot with professional DSLR camera, 85mm lens, f/8 aperture, optimal depth of field. Visual Aesthetics: Seamless infinity curve, gradient from pure white to soft gray, or contextually appropriate minimal setting. Clean acrylic platform, invisible glass surface. Subtle natural drop shadows, soft edge gradients. Product Presentation: Product centered as primary focal point, optimal viewing angle showcasing key features. Sharp focus on textures, materials, branding elements. Premium, high-end commercial appeal suitable for marketing materials."
            },
            {
              "id": "2b56185d-5c61-4c17-85f1-53ac4aab2b18",
              "name": "Width",
              "type": "number",
              "value": 1024
            },
            {
              "id": "51eb65c0-ae0a-4ce7-ab00-9d13f05ce1e6",
              "name": "Height",
              "type": "number",
              "value": 768
            },
            {
              "id": "8e89fca7-d380-4876-b973-69caa0394bc5",
              "name": "Steps",
              "type": "number",
              "value": 30
            },
            {
              "id": "875e06b7-352a-4dde-8595-3274e9969c9c",
              "name": "Guidance",
              "type": "number",
              "value": 3.5
            },
            {
              "id": "27e59eb1-fbbf-4ada-a06c-ee230dc00e94",
              "name": "image_url",
              "value": "https://rodlwiaugpoocugifiab.supabase.co/storage/v1/object/public/imageplus/sandalye%2019.png",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "17cd3aaa-7cb0-41af-bfa7-9ebb5d89f382",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -224,
        208
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-20T16:29:19.880Z",
      "updatedAt": "2025-08-20T16:29:19.880Z",
      "role": "workflow:owner",
      "workflowId": "IpdauorBzR63KHfu",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-20T16:23:49.755Z",
      "updatedAt": "2025-08-20T16:23:49.755Z",
      "id": "dWKh6hIRmNkc7uOL",
      "name": "DEmo"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-20T16:29:19.880Z",
  "versionId": "4341e78a-d380-462d-970b-09f48e7c9b1c"
}