workflows/TElegram  Asistan/8pig125F6yu3MJoU.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a contact in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a contact in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T20:15:41.065Z",
  "id": "8pig125F6yu3MJoU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Contanct_Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        -80
      ],
      "id": "4c89ff2b-4f76-4b9f-9e7a-46274ec3a602",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant, kişileri ekle ,sil ve bilgisini  ver , bunlar için toolları kullan,"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        -80
      ],
      "id": "df4cbe29-bbf9-4c0d-89ab-1f48c0f258a8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        176
      ],
      "id": "74e16688-03be-4464-bdf8-17e3d4744c6f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mdSO9YkBfKgrkvfQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "id": "7a8a56ee-14a6-4f0d-8baf-d14cabdd43a8",
      "name": "Create a contact in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "9S78120ULXkiJkxy",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "11",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "56099926-3e1b-4387-bbf9-0e3280a29634",
      "name": "Update a contact in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "9S78120ULXkiJkxy",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "contactId": "11"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        592,
        208
      ],
      "id": "6576f971-caaf-472c-aa51-4f97e93cef08",
      "name": "Delete a contact in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "9S78120ULXkiJkxy",
          "name": "Google Contacts account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-16T20:15:41.065Z",
      "updatedAt": "2025-07-16T20:15:41.065Z",
      "role": "workflow:owner",
      "workflowId": "8pig125F6yu3MJoU",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-15T16:51:18.619Z",
      "updatedAt": "2025-07-15T16:51:18.619Z",
      "id": "WvQPj24wYGxsTQrx",
      "name": "TElegram  Asistan"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T22:30:12.426Z",
  "versionId": "73204f84-dc2b-4b7e-9600-0dde8101f545"
}