workflows/TElegram  Asistan/8Z8zVt4vmdlBabWA.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T19:47:58.489Z",
  "id": "8Z8zVt4vmdlBabWA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Perplexity_Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}{{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant, diğer worklfow dan gelen soruları , derin araştırmaları yap, gelen  sorulara açıklayıcı samimi bir dille cevap ver, perplexity tool kullan, çıktıyı  makale formatında ver ,imoji de kullana bilirsin\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        448,
        224
      ],
      "id": "d2a653c8-402e-4e91-a113-b4a6c6b8c8fd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        224
      ],
      "id": "b78ba4fd-fbc3-4352-9e60-9679fbbcd4ec",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6e286b0-3390-4cdd-b5f3-a89291898bff",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b21e182a-a57d-4058-8662-9f19b9cb775f",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        512
      ],
      "id": "f641c663-a65a-45b8-974a-8f185a014438",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mCaHmcmsgT32ID96",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        624,
        480
      ],
      "id": "b4cd6b01-c4da-4351-8a82-880a507a1c44",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "YKGhB2HiCDLjVcVU",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-15T16:51:18.619Z",
      "updatedAt": "2025-07-15T16:51:18.619Z",
      "id": "WvQPj24wYGxsTQrx",
      "name": "TElegram  Asistan"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T19:48:59.252Z",
  "versionId": "8901f242-d843-47d8-8bde-a905f5bf1af3"
}