workflows/TElegram  Asistan/wXsEeDdSwlFRnibf.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T19:55:31.114Z",
  "id": "wXsEeDdSwlFRnibf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Research_Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        48
      ],
      "id": "22e1a90c-8267-4ff3-8ee4-cf8fafa7a075",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant,hitap ederken kibar ve sami ol, Google Gemini Chat Model tek başına cevap verme tool ları kullaninternet araştırma için sıralaması şöyle olmalı:\nilk olarak tavily ye bak sonra wikipedia bunlarda aradığın bilgi yok ise serapi \nyalnız günlük bilgiler : serapi kullan örnek :dolar kuru , yol durumu gibi\n\n\nToday is: {{ $now.format('dd/MM/yyyy') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        112,
        48
      ],
      "id": "324d664b-6b86-4831-8eaf-3c2ec40cf43b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        288
      ],
      "id": "142a1604-f241-41ce-8472-6a261b4c1118",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TleQLEpwAGvafRyO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "id": "1d115945-8aeb-42bc-bd48-ae56fa864e98",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "8L1ksea7aXlpEk7S",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        512,
        320
      ],
      "id": "3864d0a8-7b4f-44bc-8ebd-e64c7d9108b9",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "api_key": "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",
          "query": "{searchTerm}",
          "search_depth": "basic",
          "include_answer": true,
          "topic": "news",
          "include_raw_content": true,
          "max_results": 3
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -544,
        272
      ],
      "id": "7b03ae1b-e216-43a5-b3d1-7fa94782f65a",
      "name": "Tavily"
    },
    {
      "parameters": {
        "sessionIdType": "={{ $json.query }}\n",
        "sessionKey": "",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -528,
        416
      ],
      "id": "f0a6a10c-6628-41ac-ac74-29f10c336034",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -160
      ],
      "id": "0bad73ea-fa08-4d2f-a6dc-86c699421b6b",
      "name": "When chat message received",
      "webhookId": "19a3500d-32e2-4464-8599-767c9dd6ef0c"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        352,
        320
      ],
      "id": "a4b5f03b-2bf4-41fd-a9c8-ac3e5ed1a7fc",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "19fJy7dWyO2ShFos",
          "name": "Tavily account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-16T19:55:31.114Z",
      "updatedAt": "2025-07-16T19:55:31.114Z",
      "role": "workflow:owner",
      "workflowId": "wXsEeDdSwlFRnibf",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-15T16:51:18.619Z",
      "updatedAt": "2025-07-15T16:51:18.619Z",
      "id": "WvQPj24wYGxsTQrx",
      "name": "TElegram  Asistan"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-08T09:20:26.532Z",
  "versionId": "be5a95cd-f2db-47eb-bced-d70166abb98d"
}