workflows/9guIxUzqZRomFsBg.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Select Best Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Photo": {
      "main": [
        [
          {
            "node": "OpenAI Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image Generation": {
      "main": [
        [
          {
            "node": "Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 to Binary": {
      "main": [
        [
          {
            "node": "Telegram Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-15T19:24:41.260Z",
  "id": "9guIxUzqZRomFsBg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 19",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "66f5c941-fbdf-4d81-9b79-23ae900bc101",
      "webhookId": "2f33d63f-be4a-4124-9592-546d12417c24",
      "credentials": {
        "telegramApi": {
          "id": "HUdGoFwFzsUDSVqU",
          "name": "BİLMİŞ"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const photos = item.json.message.photo;\nconst best = photos[photos.length - 1];\n\nreturn [{\n  json: {\n    chatId: item.json.message.chat.id,\n    fileId: best.file_id, // seçilen en iyi fotoğrafın file_id'si\n    prompt: \"Bu ürün fotoğrafını stüdyo ortamında, beyaz arka plan, profesyonel ışık, HDR kalite, yüksek çözünürlükte yeniden oluştur.\"\n  },\n  binary: {\n    data: item.binary[best.file_id] // indirilmiş binary’yi best’e göre eşleştirmen lazım\n  }\n}];"
      },
      "name": "Select Best Photo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "36d9f3d2-c5ba-4a04-9a97-32bfcb9725c0"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "x",
        "model": "dall-e-3",
        "options": {},
        "requestOptions": {}
      },
      "name": "OpenAI Image Generation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "937865ee-dba6-4859-bcca-9eb3c3b4dc62",
      "credentials": {
        "openAiApi": {
          "id": "GpuIDM5IMbQzdsWf",
          "name": "OpenAi İmage"
        }
      }
    },
    {
      "parameters": {
        "setAllData": false,
        "sourceKey": "data[0].b64_json",
        "destinationKey": "photo",
        "options": {}
      },
      "name": "Base64 to Binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "48c8b8be-91f4-4d9d-b84d-0dfc16394ca2"
    },
    {
      "parameters": {
        "chatId": "={{$json[\"chatId\"]}}",
        "text": "ürünüz oluşturulmuştur.",
        "additionalFields": {}
      },
      "name": "Telegram Send Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "2fd1f674-27c6-4499-bd54-5e4281c2cb08",
      "webhookId": "323119c8-98c4-4577-9709-97d29b8ecf43",
      "credentials": {
        "telegramApi": {
          "id": "HUdGoFwFzsUDSVqU",
          "name": "BİLMİŞ"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-15T19:24:41.260Z",
      "updatedAt": "2025-08-15T19:24:41.260Z",
      "role": "workflow:owner",
      "workflowId": "9guIxUzqZRomFsBg",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-16T16:30:58.279Z",
  "versionId": "4aae019f-bac1-4f18-a36c-4eacbbef4bd8"
}