workflows/ar27W0Tr5pM0AhXZ.json
{
  "active": false,
  "connections": {
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Loop Through Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Leads": {
      "main": [
        [
          {
            "node": "Start Marketing Call (VAPI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Through Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Lead Trigger (Excel)": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Booking/Order Info": {
      "main": [
        [
          {
            "node": "Schedule Delivery/Table Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAPI Call Response Webhook": {
      "main": [
        [
          {
            "node": "Store User Response (Sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Response (Sheet)": {
      "main": [
        [
          {
            "node": "Extract Booking/Order Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Delivery/Table Booking": {
      "main": [
        [
          {
            "node": "Send Response to VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T18:22:18.423Z",
  "id": "ar27W0Tr5pM0AhXZ",
  "isArchived": false,
  "meta": null,
  "name": "vapi restornt",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI/edit?usp=drivesdk",
          "cachedResultName": "Vapi_real-estate"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1760068917,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI/edit#gid=1760068917",
          "cachedResultName": "call_list"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "e51dc935-2ccf-4d76-a7d0-1d538d4e994a",
      "name": "New Lead Trigger (Excel)",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        -336,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a10873fa-0c01-46ed-a364-d31200e44e76",
              "name": "Phone",
              "type": "string",
              "value": "=+{{ $json.Phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ac7e52b-ff73-48b4-af21-6534d5b954ad",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -128,
        112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5c38ea69-0f6b-4458-9277-1b8eea983d22",
      "name": "Loop Through Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        112,
        112
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"add_id_here\",\n  \"phoneNumberId\": \"add_id_here\",\n  \"customers\": [\n    {\n      \"number\":\"{{ $json.Phone }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a314b126-eab5-4962-830a-68f408fc3407",
      "name": "Start Marketing Call (VAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        112
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a34ac7ac-7ea4-4942-8dbf-f9ce3f0986e4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "13d06be5-23e4-4dc7-8203-c711af692a75",
      "name": "VAPI Call Response Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -336,
        384
      ],
      "webhookId": "a34ac7ac-7ea4-4942-8dbf-f9ce3f0986e4",
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI/edit?usp=drivesdk",
          "cachedResultName": "Vapi_real-estate"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkHJIhSFXdh1n65GKPwzEzFw0QasunyYm9BDglnXeiI/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "next_step": "={{ $json.body.message.toolCalls[0].function.arguments.next_step }}",
            "call_notes": "={{ $json.body.message.toolCalls[0].function.arguments.call_notes }}",
            "website_url": "={{ $json.body.message.toolCalls[0].function.arguments.website_url }}",
            "call_outcome": "={{ $json.body.message.toolCalls[0].function.arguments.call_outcome }}",
            "company_name": "={{ $json.body.message.toolCalls[0].function.arguments.company_name }}",
            "phone_number": "={{ $json.body.message.toolCalls[0].function.arguments.phone_number }}",
            "email_address": "={{ $json.body.message.toolCalls[0].function.arguments.email_address }}",
            "prospect_name": "={{ $json.body.message.toolCalls[0].function.arguments.prospect_name }}",
            "prospect_role": "={{ $json.body.message.toolCalls[0].function.arguments.prospect_role }}",
            "follow_up_date": "={{ $json.body.message.toolCalls[0].function.arguments.follow_up_date }}",
            "interest_level": "={{ $json.body.message.toolCalls[0].function.arguments.interest_level }}",
            "website_strength": "={{ $json.body.message.toolCalls[0].function.arguments.website_strength }}",
            "biggest_challenge": "={{ $json.body.message.toolCalls[0].function.arguments.biggest_challenge }}",
            "objections_raised": "={{ $json.body.message.toolCalls[0].function.arguments.objections_raised }}",
            "opt_out_requested": "={{ $json.body.message.toolCalls[0].function.arguments.opt_out_requested }}",
            "appointment_datetime": "={{ $json.body.message.toolCalls[0].function.arguments.appointment_datetime }}",
            "current_marketing_methods": "={{ $json.body.message.toolCalls[0].function.arguments.current_marketing_methods }}",
            "previous_digital_marketing": "={{ $json.body.message.toolCalls[0].function.arguments.previous_digital_marketing }}"
          },
          "schema": [
            {
              "id": "prospect_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "prospect_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "prospect_role",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "prospect_role",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "company_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "website_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "website_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "website_strength",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "website_strength",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_number",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "phone_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email_address",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "email_address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "current_marketing_methods",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "current_marketing_methods",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "biggest_challenge",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "biggest_challenge",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "previous_digital_marketing",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "previous_digital_marketing",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "objections_raised",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "objections_raised",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "interest_level",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "interest_level",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "next_step",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "next_step",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_datetime",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "appointment_datetime",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "call_outcome",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "call_outcome",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "call_notes",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "call_notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "follow_up_date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "opt_out_requested",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "opt_out_requested",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "prospect_name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a72abe16-492d-4523-81ff-5cd474b5c27a",
      "name": "Store User Response (Sheet)",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -128,
        384
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "jsCode": "function formatIST(date) {\n  const options = {\n    timeZone: 'Asia/Kolkata',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n  };\n  const parts = new Intl.DateTimeFormat('en-GB', options).formatToParts(date);\n  const lookup = {};\n  parts.forEach(p => lookup[p.type] = p.value);\n  return `${lookup.year}-${lookup.month}-${lookup.day} ${lookup.hour}:${lookup.minute}:${lookup.second} IST`;\n}\n\nfor (const item of items) {\n  let dateStr = item.json.date_input?.toLowerCase?.() || 'today';\n  let timeStr = item.json.time_input || '17:00'; // default to 5 PM\n\n  // Step 1: base date\n  let baseDate = new Date();\n  if (dateStr === 'tomorrow') {\n    baseDate.setDate(baseDate.getDate() + 1);\n  } else if (dateStr !== 'today') {\n    baseDate = new Date(dateStr);\n  }\n\n  // Step 2: parse time\n  const [timePart, ampm] = timeStr.trim().split(/ (AM|PM)/i);\n  let [hours, minutes] = timePart.split(':').map(Number);\n  if (ampm?.toLowerCase() === 'pm' && hours < 12) hours += 12;\n  if (ampm?.toLowerCase() === 'am' && hours === 12) hours = 0;\n\n  baseDate.setHours(hours, minutes || 0, 0, 0);\n\n  // Step 3: set IST formatted times\n  const startIST = formatIST(baseDate);\n  const endIST = formatIST(new Date(baseDate.getTime() + 60 * 60 * 1000)); // +1 hour\n\n  item.json.appointment_datetime_parsed = startIST;\n  item.json.appointment_end_datetime = endIST;\n}\n\nreturn items;\n"
      },
      "id": "99f080f9-2364-4df3-9141-9178e97c8d3d",
      "name": "Extract Booking/Order Info",
      "type": "n8n-nodes-base.code",
      "position": [
        112,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "abc@gmail.com"
        },
        "start": "={{ $json.appointment_datetime_parsed }}",
        "end": "={{ $json.appointment_end_datetime }}",
        "additionalFields": {}
      },
      "id": "cde365b2-e3a1-4e1f-b486-7bb4e551c648",
      "name": "Schedule Delivery/Table Booking",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        320,
        384
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6b63831-fe9e-498a-b857-748347ebac52",
      "name": "Send Response to VAPI",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        544,
        384
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Lead Management & Marketing Automation Workflow\n\n- New Lead Trigger: Excel triggers capture new leads when customers are added to the lead management spreadsheet\n\n- Lead Preparation: The system processes and formats lead data, extracting relevant details (name, phone, preferences, booking history)\n\n- Campaign Loop: Automated loop processes through multiple leads for batch marketing campaigns\n\n- Voice Marketing Call: VAPI initiates personalized voice calls to leads with tailored restaurant offers and booking invitations\n\n- Response Tracking: All call results and lead responses are logged back to Excel for campaign analysis\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 520,
        "width": 980,
        "color": 3
      },
      "id": "963f3b08-73f0-488e-9571-afe4a2d45ff3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Booking & Order Processing Workflow\n\n- Voice Response Capture: VAPI webhook triggers when customers respond to marketing calls or make direct booking requests\n\n- Response Storage: Customer responses and booking preferences are immediately saved to Excel sheets\n\n- Information Extraction: System processes natural language responses to extract booking details (party size, preferred times, special requests)\n\n- Calendar Integration: Booking information is automatically scheduled in restaurant management systems\n\n- Confirmation Loop: Automated follow-up voice messages confirm bookings and provide additional restaurant information",
        "height": 836,
        "width": 1240
      },
      "id": "2761ba22-4791-456f-a205-db8de447dbe1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        112
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-02T18:22:41.037Z",
  "versionId": "62b29655-e6c3-45c7-ae17-f31c0b681080"
}