workflows/cz5ZkaVWUTdyrZWc.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Recevied": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-17T05:16:33.365Z",
  "id": "cz5ZkaVWUTdyrZWc",
  "isArchived": false,
  "meta": null,
  "name": "Whatsapp Asistan",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        288
      ],
      "id": "411db434-2c04-43e3-b00b-eebbd93515cb",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Recevied').item.json.messages[0].text.body }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        304
      ],
      "id": "5215cf00-5640-4550-915c-63818e1caebe",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "586974917830390",
        "recipientPhoneNumber": "+905326111749",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        704,
        0
      ],
      "id": "c4ab2713-20a0-4ded-bed9-dbbfae120576",
      "name": "WhatsApp Business Cloud",
      "webhookId": "68a6c736-8612-4408-ba13-69644d594304"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a helpful assistant, sana soru sorulduğunda çok kibar ol,araştırma dan cevap verme , \ncümleye başken  \"sahip\"  diyerek başla\nThe current date/time is :{{$now }},\nsorulan soruları araştır \ntüm bağlantıları kullan,\nALWASY RESPOND IN FULL CAPS!!,\nai help him remember,sana verilen rol olursa bunu en ince ayrıntısına kadar düşün, türkiye birimlerini kullan tl,santigrad, gibi,\nPerplexity_Agent  tolllunu derin araştırmada kullan\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        352,
        0
      ],
      "id": "6342daef-3e9d-4ab3-b9e8-59fbc736389f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "74fb3ec0-0b88-4bb4-8220-333193a9e585",
      "name": "Chat Recevied",
      "webhookId": "79413a36-1b0e-4fda-993e-1626a417bd35"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        864,
        320
      ],
      "id": "3b53f64e-7d34-4831-b923-b066b1461615",
      "name": "SerpAPI"
    },
    {
      "parameters": {
        "url": "https://google.serper.dev/search",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {}
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        688,
        320
      ],
      "id": "77b7a1a0-ced8-4d9d-8929-509104c556f3",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1072,
        320
      ],
      "id": "7e842eee-1b6e-4471-b95e-865c8301f82b",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        160,
        304
      ],
      "id": "397bd247-22da-43c5-ae5e-cc9b8b5a579e",
      "name": "Think"
    },
    {
      "parameters": {
        "description": "Perplexity_Agent derin araştırmada kullan",
        "workflowId": {
          "__rl": true,
          "value": "V4YWbN524DlxLgoE",
          "mode": "list",
          "cachedResultName": "Perplexity_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        320
      ],
      "id": "b2871313-59b2-4530-ba73-5e650d4b36b8",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-17T05:16:33.365Z",
      "updatedAt": "2025-07-17T05:16:33.365Z",
      "role": "workflow:owner",
      "workflowId": "cz5ZkaVWUTdyrZWc",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-17T05:16:33.365Z",
  "versionId": "421caafd-deb2-4d25-b890-558f566108d5"
}