workflows/mAgpmARhEHUvhux3.json
{
  "active": true,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-31T13:49:02.904Z",
  "id": "mAgpmARhEHUvhux3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "gl 4,5 chat bot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "selam NAsıl yardımcı olabilirim?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -512
      ],
      "id": "b7718e1a-a75e-4d23-add0-366326479544",
      "name": "When chat message received",
      "webhookId": "94de457f-7cd6-4478-9d6a-c232ae680ac6",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant, "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -432,
        -512
      ],
      "id": "de458b65-4fe4-47bd-b46e-a8f5a832b201",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -496,
        -288
      ],
      "id": "434c9ac2-1d87-4ad3-8c52-51f5e5f09439",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lyptynmFlWtLZQez",
          "name": "31072025 openrouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "9999",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        -256
      ],
      "id": "7821423d-ac33-4a6d-95da-f08d298ee142",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-31T13:49:02.904Z",
      "updatedAt": "2025-07-31T13:49:02.904Z",
      "role": "workflow:owner",
      "workflowId": "mAgpmARhEHUvhux3",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-08T13:31:43.513Z",
  "versionId": "ff586543-f1a6-4d6a-a8f7-51bc999ec715"
}