workflows/ONtzm7ALS023HQEI.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-31T18:50:54.191Z",
  "id": "ONtzm7ALS023HQEI",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "asaist web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "11ef0598-b59d-4335-b797-a4b5a0402fa8",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        -80
      ],
      "id": "d149ee84-5c76-4b2f-b4a8-42824e50dd74",
      "name": "Webhook",
      "webhookId": "11ef0598-b59d-4335-b797-a4b5a0402fa8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant,çok iyi türkçe biliyorsun nazik ve yapıcısın , yazdıklarımı zep yardımıyla hatırlaya bvilir geriye dönük  bilgi verebilirsin,"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -416,
        -80
      ],
      "id": "8daf39fe-88bf-40d5-b663-4014725f62fc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -496,
        144
      ],
      "id": "31163c75-f1e4-4096-8a9e-7c232b61867c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lyptynmFlWtLZQez",
          "name": "31072025 openrouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -224,
        176
      ],
      "id": "56ee6608-33f5-4ffc-bce4-253f5df45766",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "FSqIbPoe5PldrXUz",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -64,
        -80
      ],
      "id": "2b4c8651-19c5-48c9-9715-b2ec9ea30493",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-31T18:50:54.191Z",
      "updatedAt": "2025-07-31T18:50:54.191Z",
      "role": "workflow:owner",
      "workflowId": "ONtzm7ALS023HQEI",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-31T22:31:48.323Z",
  "versionId": "e255fafb-f1da-4aee-b6a5-47e9443c9c59"
}