workflows/rTAsrusbE4b4PNhg.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert Base64 String to Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 String to Binary File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert Base64 String to Binary File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Receive the File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive the File": {
      "main": [
        [
          {
            "node": "convert the image file to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 String to Binary File2": {
      "main": [
        [
          {
            "node": "Telegram send the text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert the image file to base64": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-15T13:43:55.218Z",
  "id": "rTAsrusbE4b4PNhg",
  "isArchived": false,
  "meta": null,
  "name": "gpt imaj düzenleme  2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -160
      ],
      "id": "75de4a08-0472-4e4c-8be4-bdbe8da273e8",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -160
      ],
      "id": "a8c56735-56a3-41c0-a84d-0a6eb2559d18",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        272,
        -160
      ],
      "id": "acc429f7-09e0-4863-902d-dec2f5b5fc58",
      "name": "Convert Base64 String to Binary File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -512
      ],
      "id": "eedcd0e8-c64b-49ef-8f4f-913d10e93344",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4DF6kW0ApqqXgYMq",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        -512
      ],
      "id": "a553788b-bff8-424d-9cee-d602ad86bed4",
      "name": "Convert Base64 String to Binary File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1D8OT0ef-MqEXjOjFrBo_IU4IXDVV9ZLs",
          "mode": "list",
          "cachedResultName": "Lush1.jpeg",
          "cachedResultUrl": "https://drive.google.com/file/d/1D8OT0ef-MqEXjOjFrBo_IU4IXDVV9ZLs/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        -256
      ],
      "id": "fed8c5ac-6d1f-48d3-9ed8-6ba4a086562f",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "12WZ2GKBR5aSQZ3ZeorQmnHzHS6VdHl3U",
          "mode": "list",
          "cachedResultName": "Lush2.png",
          "cachedResultUrl": "https://drive.google.com/file/d/12WZ2GKBR5aSQZ3ZeorQmnHzHS6VdHl3U/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        -64
      ],
      "id": "0cbd3870-85aa-45e6-901f-35bf556fb6ff",
      "name": "Google Drive1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        -160
      ],
      "id": "88dd28b0-b341-4407-aaca-df622c8262d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        -160
      ],
      "id": "f80c1c63-5da8-42cf-93f4-e6f32fe6db01",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "70a605a1-718b-4e5b-aece-7c99a862e61d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -208,
        -512
      ],
      "webhookId": "6021108f-f0e8-4d7a-918b-f49baa28ba85",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "HUdGoFwFzsUDSVqU",
          "name": "BİLMİŞ"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "411fb2b9-643c-4b0b-aff4-08d206213d9b",
      "name": "Telegram send the text",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1056,
        -512
      ],
      "typeVersion": 1.2,
      "webhookId": "18102774-d809-4722-b4b8-cfbe705577d7"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "a7a66192-25ed-4265-a08d-fedfbbeb7c18",
      "name": "convert the image file to base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        336,
        -512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "id": "f45ebe5b-d5b7-4659-afa7-437664564e0d",
      "name": "Receive the File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        80,
        -512
      ],
      "typeVersion": 1.2,
      "webhookId": "052d3407-3fbf-4524-aa76-520bffb49773",
      "credentials": {
        "telegramApi": {
          "id": "HUdGoFwFzsUDSVqU",
          "name": "BİLMİŞ"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-15T13:43:55.218Z",
      "updatedAt": "2025-07-15T13:43:55.218Z",
      "role": "workflow:owner",
      "workflowId": "rTAsrusbE4b4PNhg",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-16T17:25:56.677Z",
  "versionId": "ef13a78c-32db-40d2-95be-1c933e2c13ad"
}