workflows/Uf98y6zUtqy2FU5u.json
{
  "active": false,
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T22:37:57.279Z",
  "id": "Uf98y6zUtqy2FU5u",
  "isArchived": false,
  "meta": null,
  "name": "supbase",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1wMDfXN-5YPpqLORViyemj1HlcIQWJQMW",
            "mode": "list",
            "cachedResultName": "n8n deneme",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1wMDfXN-5YPpqLORViyemj1HlcIQWJQMW"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "id": "598a5fd6-dd4e-423b-abb3-ed7c9d3f60cf",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        0
      ],
      "id": "1531f377-71c7-48c2-b2ac-7d409a7387ad",
      "name": "Google Drive1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        0
      ],
      "id": "4ec597f3-16a2-4c3c-9daf-4b0c070aeb07",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        992,
        0
      ],
      "id": "3e64d97c-666c-4ba6-9b75-c88a5c4d2cf1",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        272
      ],
      "id": "908c15a6-b5dd-489a-b93d-540b74c665f8",
      "name": "Embeddings OpenAI2"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1040,
        288
      ],
      "id": "dfa678ab-5f49-4ff7-a408-2c75d23056aa",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1040,
        512
      ],
      "id": "e5306a3c-637b-4720-b8f1-5cf9b36d0622",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "753e8b42-506c-44f9-8165-4e60d14c6a62",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-14T22:37:57.279Z",
      "updatedAt": "2025-07-14T22:37:57.279Z",
      "role": "workflow:owner",
      "workflowId": "Uf98y6zUtqy2FU5u",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-14T22:37:57.279Z",
  "versionId": "c596c0c6-d054-4239-a8ea-45c2ee6ace22"
}