workflows/Ws2VrwAqr1i4G8pi.json
{
  "active": false,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "MCP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Request": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-15T15:00:34.982Z",
  "id": "Ws2VrwAqr1i4G8pi",
  "isArchived": true,
  "meta": null,
  "name": "Mevzuat MCP Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mevzuat-query",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "webhookId": "a1821b1a-9ec2-4bba-a256-e96753d4724f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mevzuat-mcp-2z26.onrender.com/webhook/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "mcp-request",
      "name": "MCP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        688,
        304
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-16T19:03:01.952Z",
  "versionId": "cb84e7ee-2acf-4e9d-a317-fcef82427779"
}