workflows/xuKnQdT6PRv7qYyh.json
{
  "active": false,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update Airtable Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Airtable Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable Record": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T10:13:01.926Z",
  "id": "xuKnQdT6PRv7qYyh",
  "isArchived": false,
  "meta": null,
  "name": "Dashboard Sync Webhook",
  "nodes": [
    {
      "id": "webhook-trigger-2",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ],
      "parameters": {
        "path": "dashboard-sync",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "switch-1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        300,
        200
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update_status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update_field",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3",
              "leftValue": "={{ $json.action }}",
              "rightValue": "bulk_update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "airtable-update-1",
      "name": "Update Airtable Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appOEBzIdqX1w8QHU",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblelqZDaewisoBpE",
          "mode": "id"
        },
        "id": "={{ $json.recordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.newValue }}",
            "Email summary": "={{ $json.notes || '' }}"
          }
        }
      }
    },
    {
      "id": "response-node-2",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        200
      ],
      "parameters": {
        "options": {},
        "responseBody": "={\"success\": true, \"message\": \"Record updated successfully\", \"recordId\": \"{{ $json.recordId }}\"}"
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-01T10:13:01.926Z",
  "versionId": "7f38a204-b096-4b17-9398-ae788255c3cc"
}