workflows/YR9EGAlEVDVnwU8p.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T19:41:58.661Z",
  "id": "YR9EGAlEVDVnwU8p",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Derin_Perplexity_Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1136,
        -96
      ],
      "id": "f144cf23-b85f-4212-b042-259cf297198c",
      "name": "When chat message received",
      "webhookId": "7158eab5-4a83-48c3-a428-8f39a4403cbc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}{{ $json.querye }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant, derin araştırmaları yap, gelen  sorulara açıklayıcı samimi bir dille cevap ver, perplexity tool kullan, kısa vadeli zamanlar için ser api kullana bilirsin\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -752,
        -96
      ],
      "id": "145ba24e-c1c3-4da7-ac8c-5eed1cdf16bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8cef1e13-d040-4ec3-a944-7f7f5d884bc2",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -128
      ]
    },
    {
      "parameters": {
        "model": "openrouter/horizon-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1056,
        160
      ],
      "id": "a54c64a3-9968-4539-b9c6-e52a9649c066",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mCaHmcmsgT32ID96",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -384,
        176
      ],
      "id": "18cc5791-7fd0-44a1-8539-617ffc74f7d8",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "8L1ksea7aXlpEk7S",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-reasoning",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -688,
        176
      ],
      "id": "00803726-35ec-42f9-b90d-91801ae4edbe",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "uO17fRCcmPwk9Bhg",
          "name": "Perplexity 03082025"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-16T19:41:58.661Z",
      "updatedAt": "2025-07-16T19:41:58.661Z",
      "role": "workflow:owner",
      "workflowId": "YR9EGAlEVDVnwU8p",
      "projectId": "O3f0VXsCOyNYdqZx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-03T16:11:28.896Z",
  "versionId": "16008dd2-36ad-45e9-af55-ddee17ed630c"
}